.wrapper {
  width: 1110px;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  min-width: 1110px;
}

.page-body {
  background-color: #fffdf8;
  padding: 60px 0;
}

.wysiwyg-wrapper h1 {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 32px;
}
  
.wysiwyg-wrapper h2 {
    color: #9f7303;
    font-size: 40px;
    font-weight: 500;
}
  
.wysiwyg-wrapper h3 {
  color: #9f7303;
  font-size: 32px;
  font-weight: 500;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  margin-bottom: 56px;
  padding-left: 27px;
  list-style-type: none;
}

.wysiwyg-wrapper li {
  margin-bottom: 16px;
  position: relative;
}

.wysiwyg-wrapper li::after {
  content: "";
  height: 8px;
  width: 8px;
  background: #f5d581;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 10px;
  left: -20px;
}

.wysiwyg-wrapper blockquote {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #9f7303;
    padding: 40px 100px;
    border-top: 1px solid #f5d581;
    border-bottom: 1px solid #f5d581;
    text-align: center;
    width: 70%;
    margin: 60px auto 60px auto;
  }

  /* Rewies */
  .review {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 21px auto auto;
    column-gap: 24px;
    row-gap: 8px;
    margin-bottom: 32px;
  }

  .review__image-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #f5d581;
  }

  .review__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    text-indent: -100vw;
  }
  
  .review__name {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin: 0;
  }
  
  .review__text {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
  }